doctype html
html
  head
    link(href='/index.css', rel='stylesheet')
    block title
      title Static Lite
  body
    header
      h1 Static Lite
      p Really just a few NPM Scripts.
      hr

    block content
    script(src="/bundle.js")
