//- index.pug
extends ../layout.pug

block content
  section#app
    h1 Vue JS
    p {{ message }}
  hr

  section#contributors
    h1 Contributors
    ul
      each contributor in contributors
        li
          a(href="/contributors/" + contributor.login + ".html")
            img(src=contributor.avatar_url + "&size=80")
