//- index.pug
extends ../layout.pug

block content
  section#info
    h1 Static Lite
    h2 Blog
    ul
      each post in data
        li: a(href='/posts/' + post.title.toLowerCase().replace(' ', '-') + '.html')= post.title
